[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	sd = diff --cached
	stash-unapply = !git stash show -p | git apply -R
[gitreview]
	username = maru
[core]
	excludesfile = ~/.gitignore
	pager = less
[push]
	default = current
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[github]
	user = marun
[user]
	name = Maru Newby
	email = me@maru.ca
[pull]
	ff = only
